/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", serif;
  line-height: 1.6;
  color: #333;
}

/* Estilos do cabeçalho e navegação */
header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between; /* Altera para space-between */
  align-items: center;
  width: 90%;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-family: "Audiowide", serif;
  font-size: 22px;
  color: yellow;
  margin-right: auto; /* Adiciona margem automática à direita */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Espaçamento entre os links */
  font-size: 22px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: none;
}

.whatsapp-button {
  background-color: greenyellow;
  border: 2px;
  border-radius: 10px;
  padding: 12px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: black;
  color: white;
}

/* Estilos das seções */
section {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#inicio {
  background: #f4f4f4;
}

#servicos {
  background: #e2e2e2;
}

#sobre {
  background: #d1d1d1;
}

#contato {
  background: #c0c0c0;
}

/* Estilos do Footer */
.footer-container {
  background-color: #0D1B2A;
  padding: 4rem 0;
}

.footer {
  width: 80%;
  height: 20vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 1.3rem;
}

.footer-heading a {
  margin-bottom: 1.3rem;
  color: #ffffff;
  text-decoration: none;
}

.footer-heading a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
      width: 80%;
      flex-direction: column;
      height: auto;
  }

  .footer-heading {
      margin-right: 0;
      margin-bottom: 2rem;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-links {
      margin-top: 1rem;
  }
}